.my-heading {
    font-family: Candara, sans-serif;
    font-weight: bold;
    font-style: italic;
    -webkit-text-stroke: 2px gold;
    color: transparent;
}

hr.golden-hr {
    border: none;
    border-top: 1px solid gold;
    height: 1px;
    background-color: gold;
}

.nav-link-border {
    border: 1px solid rgb(255, 221, 0);
    /* Puedes ajustar el ancho y color del borde aquí */
    display: inline-block;
    font-family: Candara, sans-serif;
}