.card-image {
    width: 100%;
    /* Ajusta el ancho deseado */
    height: 200px;
    /* Ajusta la altura deseada */
    object-fit: cover;
}

.about-avatar {
    width: 100%;
    height: 500px;
    /* Ajusta la altura deseada para el contenedor de la imagen */
}

.about-avatar img {
    width: 85%;
    height: 100%;
    border: solid 1px;
    object-fit: cover;
    border-radius: 50%;
}

.beautiful {
    font-family: Candara, sans-serif;
}

.book-border {
    width: 1rem;
    padding: 5px;
    margin: 17px 15px 30px 33px;
    background-color: white;
    box-shadow: 0 0 0 10px #ccc, 0 0 0 15px white, 0 0 0 20px #ccc, 0 0 0 25px white;
    border-radius: 5px;
}