<br>
<br>
<div style="display: flex; justify-content: center;">
    <div class="card book-border" style="width: 50rem">
        <h1 class="beautiful"> — Modifica tu capítulo — </h1>
        <hr>
        <div class="card-body">
            <form (submit)="editChapter($event)">
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label beautiful">Título</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="title" name="title"
                            placeholder="Título que llevará el capítulo" [value]="chapter.title">
                    </div>
                </div>
                <br>
                <br>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label beautiful">Capítulo</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="number" name="number"
                            placeholder="¿Que número de capítulo?" [value]="chapter.number">
                    </div>
                </div>
                <br>
                <br>
                <div id="editor-container">
                    {{ chapter.title }}
                </div>
                <br>
                <br>
                <div class="form-group row">
                    <div class="col-sm-10 offset-sm-2">
                        <button type="submit" class="btn btn-primary beautiful">Listo</button>
                        <button type="button" class="btn btn-secondary beautiful" (click)="goBack()">Atrás</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
